.reccomend-card {
  position: relative;
  width: 388px;
  height: 260px;
  padding: 16px;
  border-radius: 10px;
  background: #FFF;

  .reccomend-card__text {
    font-family: 'Yandex Sans Text';
  }

  .reccomend-card__info {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: 'Yandex Sans Text';
    color: #797981;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.23;
  }

  .reccomend-card__title {
    font-family: 'Yandex Sans Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    margin: 16px 0 24px;
    height: 72px;
  }

  .reccomend-card__description {
    font-family: 'Yandex Sans Text';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.09;
  }

  .reccomend-card__vacancies {
    position: absolute;
    bottom: 16px;
    display: inline-flex;
    border-radius: 6px;
    background: rgba(204, 194, 237, 0.50);
    padding: 8px 4px;
    justify-content: center;
    align-items: center;
    color: #410490;
    font-family: 'Yandex Sans Text';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
  }
}