.title {
    font-family: "YS Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 2px 36px;
    flex-wrap: nowrap;

    .title__text {
        margin: 0;
    }

    .title__button {
        padding: 0;
        height: 28px;
        max-width: 28px;
        border: none;
    }

}

.block {
    display: flex;
    flex-direction: row;

    .block__title {
        width: 254px;
    }
}

.x {
    position: 'fixed';
    top: "138px";
    left: '50%';
}

.block__skill {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    border-bottom: 1px solid #F3F3F3;
}