.title {
  font-family: "YS Display", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 2px 36px;
  flex-wrap: nowrap;

  .title__text {
    margin: 0;
  }

  .title__button {
    padding: 0;
    height: 28px;
    max-width: 28px;
    border: none;
  }
}


.x {
  position: 'fixed';
  top: "138px";
  left: '50%';
}

