.startPage {
  position: absolute;
  bottom: 0;
  top: 63px;
  left: 156px;
  height: calc(100vh - 62px);
  width: calc(100% - 156px);
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  justify-content: center;

  .startPage__image {
    background-image: url(../../images/start-page-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 62%;
    height: auto;
    aspect-ratio: 795/435;
  }

  .startPage__title {
    margin: 0;
    font-size: 34px;
    font-family: "Yandex Sans Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.17;
    text-align: center;
    width: 80%;
  }
}