@import url("./font/stylesheet.scss");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #F1F3F7;
  font-family: "Yandex Sans Text", "Arial", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}